@keyframes animationSpinner {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0);
	}
}

.spinner__box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.spinner__border {
	position: relative;
	width: 100px;
	height: 10px;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		width: 100px;
		height: 10px;
		transform: translateX(-100px);
		background-image: linear-gradient(107deg, rgba(89, 131, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
		animation: animationSpinner linear 3s alternate infinite;
	}
}
